.main-header
    {
        display: flex;
        background-color: lightskyblue; 
        border: 3px solid;
        border-color: tomato;
    }

.main-logo
    {
        height: 50px;
        width: 50px;
        background-image: url(https://picsum.photos/200/300.webp);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

.banner-image
    {
        width: 1366px;
        height: 768px;
        background-image: url(https://picsum.photos/200/300.webp);
        background-size: cover;
        background-position: center;
    }

footer
    {
        text-align: end;
    }